/* General settings */

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables*/

:root {
  --bg-color-yellow: #ffcc00;
}

/* Background */

body {
  background-image: url('img-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #010142;
  font-family: Oranienbaum, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
}

/* Title */

.title {
  font: 6vmax Permanent Marker, Arial, Helvetica;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-color-yellow);
  text-shadow: 0 0 10px #000, 0 0 10px #000;
  user-select: none;
  margin: 3vmax auto 8vmax;
}

/* Container with music-key buttons */

.music-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vmax;
  width: 80vw;
  height: 18vmin;
}

/* Music-keys */

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vmax;
  height: 18vmin;
  background-color: #0000009f;
  border: 3px solid #fff;
  color: #fff;
  font-size: 4.5vmax;
  user-select: none;
  cursor: pointer;
  transition: transform .09s;
}

.playing {
  transform: scale(1.15);
  border-color: var(--bg-color-yellow);
  box-shadow: 0 0 50px var(--bg-color-yellow);
  color: #ff0000;
}